<html>
  <head>
    <title>Item Display</title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script type="text/javascript" src="./angularjs/pro.js"> </script>

<style>
li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}


.dropdown:hover .dropdown-content {
    display: block;
}

.btn-default {
    margin-right: 30px;
}
.btn-primary {
    margin-right: 20px;
}
</style>
  </head>

  <body>
    <div class="container-fluid">

<br />
<ul class="nav nav-tabs">
  <li><div>
<a href="/home">
<img src="ebay1.png" width="90" height="50">
</a> &nbsp &nbsp &nbsp
 </div></li> 
<li>
<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" style="color:#337ab7;">Hi! <strong><%= user %></strong>
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
  <li>Handle: <strong> <%= handle %> </strong></li>
  <li><a href="/about"><span class="glyphicon glyphicon-user"> </span> About</a></li>
    <li><a href="/logout">Sign out</a></li>
</ul> </div> </li> 



<li> <a href="/addItem">Sell</a> </li>


<ul class="nav navbar-nav navbar-right">
<li class="dropdown">
    <a href="#" class="dropbtn">My eBay</a>
    <div class="dropdown-content">
      <a href="/purchase">Purchase History</a>
      <a href="/sold">Sold Items</a>
      
    </div>
<li> <a href="/displayCart"> <span class="glyphicon glyphicon-shopping-cart"></span>Cart</a> 
 </ul> </ul>
</div>
<br /> 
<% if(bid_flag == "auction") { %>
  <div class="container">
    <h3>Item Description</h3> <hr /> <br />
    <form action="/placeBid" method="post" id="itemDisplay">
    Item ID: &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  <input type="text" value=<%=item_id %> name="item_id" size="20" readonly> <br /> <br />
    Item Name: &nbsp &nbsp &nbsp &nbsp &nbsp  <input type="text" value=<%=item_name %> name="item_name" size="20" readonly> <br /> <br />
    Item Price: &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  <input type="text" value=<%=item_price %> name="item_price" size="20" readonly> <br /> <br />
    Item Description: &nbsp<input type="text" value='<%=item_desc %>' name="item_desc" size="20" readonly> <br /> <br />
    Current Bid:  &nbsp &nbsp &nbsp &nbsp &nbsp<strong><%= current %> </strong><br /> <br />
    Maximum Bid: &nbsp &nbsp <input type="number" placeholder="Enter your bid" name="bid" size="20"id="bid" min=<%= current %> > <br /> <br />
    Seller Email Id: &nbsp &nbsp<input type="text" value=<%=email %> name="email" size="20" readonly> <br /> <br />
    Type: &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp<input type="text" size="20" value=<%=bid_flag %> name="bid_flag" readonly> <br /> <br />

  
     
    <input type="submit" value="Place Bid" class="btn btn-primary">
    </form> </div>

<% } else { %>

    <div class="container">
    <h3>Item Description</h3> <hr /> <br />
    <form action="/Cart" method="post" id="itemDisplay">
   <input type="hidden" value=<%=item_id %> name="item_id"> <br /> 
    Item Name: <input type="text" value=<%=item_name %> name="item_name" readonly> <br /> <br />
    Item Price: <input type="text" value=<%=item_price %> name="item_price" readonly> <br /> <br />
    Item Description:<input type="text" value='<%=item_desc %>' name="item_desc" readonly> <br /> <br />
    Quantity: <input type="text" value=<%=quantity %> name="quantity" readonly> <br /> <br />
    Seller Email Id: <input type="text" value=<%=email %> name="email" readonly> <br /> <br />
    Type: <input type="text" value=<%=bid_flag %> name="bid_flag" readonly> <br /> <br />
  
     
    <input type="submit" value="Add to cart" class="btn btn-primary">
    </form> </div>
    <% } %>
<p> </p>
</body> 
</html>